<!-- inherit from base.html-->
{% extends "nurse_app/base_template.html" %}

<!-- Replace block content in base_template.html -->
{% block content %}
<h1>Nurse-a-nurse</h1>
<p><strong>Buy a scrub used or new to save some money!</strong></p>
<p>The website helps all undergraduate nurses to buy scrubs at a lower price.<p>

<h2>List of scrubs that are brand new</h2>
<ul class="list-group">
{% for i in nurse_active %}
<li class="list-group-item"> Scrub: {{i.name}}
<p><strong>Brand:{{ i.name }}
<a class="btn btn-primary" href="{{ i.name.get_absolute_url }}" role="button">View</a>
</li>
{% endfor %}
</ul>
{% endblock %}


